@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  cursor: pointer;
  height: 48px;
  border-radius: 8px;
  background-color: #dcdcdc;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #cbcbcb;
}

.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar::-webkit-scrollbar-corner {
  display: none;
}
