@tailwind base;
@tailwind components;
@tailwind utilities;

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
